@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {

    /* Colors */
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --green: #C4F82A;
    --white: #FFFFFF;

    /* Spacing */
    --spacing-500: 2.5rem;  /* 40px */
    --spacing-300: 1.5rem;  /* 24px */
    --spacing-200: 1rem;    /* 16px */
    --spacing-150: 0.75rem; /* 12px */
    --spacing-100: 0.5rem;  /* 8px */
    --spacing-50: 0.25rem;  /* 4px */

    /* Font family */
    --font-family: 'Inter', sans-serif;

    /* Font weights */
    --font-normal: 400;
    --font-bold: 700;

    /* Font sizes */
    --font-size-sm: 0.875rem;  /* 14px */
    --font-size-lg: 1.5rem;    /* 24px */

    /* Line height */
    --line-height: 150%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-preset-1 {
    font-family: var(--font-family);
    font-weight: var(--font-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height);
}

.text-preset-2 {
    font-family: var(--font-family);
    font-weight: var(--font-normal);
    font-size: var(--font-size-sm);
    line-height: var(--line-height);
}

.text-preset-2--bold {
    font-family: var(--font-family);
    font-weight: var(--font-bold);
    font-size: var(--font-size-sm);
    line-height: var(--line-height);
}

body {
    font-family: var(--font-family);
    background-color: var(--grey-900);
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    width: 100%;
    max-width: 23.4375rem;
    border-radius: var(--spacing-150);
    background-color: var(--grey-800);
    padding: var(--spacing-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-300);
    color: white;
}

.card__img img {
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
}

.card__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-50); 
    text-align: center;
}

.card__title {
    color: var(--white);
}

.card__description {
    color: var(--green);
}

.card__bio {
    color: var(--white);
}

.card__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200); 
}

.card__link {
    border-radius: var(--spacing-100);
    background-color: var(--grey-700);
    color: var(--white);
    padding: var(--spacing-150); 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: var(--spacing-100); 
    transition: background-color 0.3s ease,
    color 0.3s ease;
}

.card__link:hover {
    background-color: var(--green);
    color: var(--grey-900);
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 24rem;
    }
}
